<app-header></app-header>

<div class="container-fluid">
    <!-- start of page(box) -->
    <div class=" box d-block ">
        <!--Start Of Breaking News Section-->
        <div class="row col-sm-12 col-md-12 col-lg-12 nopadding  " style="width: 100%; margin: 0 auto;">

            <!--Start of Breaking News Title-->
            <div class="d-inline-block  d-md-block col-1 col-sm-2 col-md-3 col-lg-2 bg-primary text-white text-center py-2 px-2">
                <i class="fa fa-bolt px-1" aria-hidden="true" style="font-size: 20px;width:20px"></i>
                <span class="d-none d-md-inline-block pl-1">Breaking News</span>
            </div>
            <!--End of Breaking News Title-->

            <!-- Start Of Breaking content-->
            <div class="col-11  col-sm-10 col-md-9 col-lg-10   text-white" style="background-color: #474645;">
                <div class="breaking-box pt-2 pb-1">
                    <!--marque-->
                    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseleave="this.start();">
                        <!-- <a class="h6 font-weight-light" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/"><span class="position-relative mx-2 badge badge-primary rounded-0">India</span> Google Employees Protest Secret Work on Censored Search Engine for China</a>
                  <a class="h6 font-weight-light" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/"><span class="position-relative mx-2 badge badge-primary rounded-0">World</span> Investors Betting Against Tesla Made $1 Billion on Friday</a>
                  <a class="h6 font-weight-light" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/.html"><span class="position-relative mx-2 badge badge-primary rounded-0">Sports</span> World cup 2050 will release in Dubay</a>
                  <a class="h6 font-weight-light" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/"><span class="position-relative mx-2 badge badge-primary rounded-0">Movies</span> Lemon make your skin fresh and glowing</a> -->
                        <span *ngFor="let data of listArray" (click)=gotoBigNews(data.headline)
                            class="position-relative mx-4  rounded-0"> <span></span>{{data.headline}}</span>
                    </marquee>
                </div>
            </div>
            <!-- End Of Breaking Content-->
        </div>
        <!--End Of Breaking News Section-->


        <!-- start of home news section -->
        <div class="inner-box1 mt-4 d-flex nopadding">

            <!-- start of first Column -->
            <div class="smallbox first-column col-sm-12 c col-lg-4 d-block   nopadding">
                <div class="first-small-box ">
                    <div class="breaking-nwz-img-box">
                       <img  style="border-radius: 8px;" class="break-news-img  img-responsive" src="assets/img/Breaking.webp">
                       <h4  class="test">headline</h4>
                    </div>
                    <div class=" home-headline-box d-flex  col-lg-12 mt-4 " *ngFor="let data of indiaHomeList">
                        <div class=" col-lg-5 nopadding ">
                            <a style="font-family:sans-serif" class="nopadding" (click)="gotoBigNews(data.headline)"><img
                                    class="headline-img img-responsive " src={{data.imgUpload}}></a>
                        </div>

                        <div class="headline-box col-lg-7">
                            <b class="headline mt-2  nopadding "><a
                                    (click)="gotoBigNews(data.headline)">{{data.headline}}</a></b>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of first Column -->

            <!-- start of Second Column -->
            <div class="smallbox col-sm-12  col-lg-4 nopadding">
                <div class="second-small-box">
                    <iframe class="col-sm-12 nopadding" width="100%" height="230" src="https://www.youtube.com/embed/jn8s87zaTwo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                   <div class="short-headline-box d-flex  col-lg-12 nopadding" *ngFor="let data of indiaHomeList">
                       <div class="short-headline p-2 short-headline1 col-lg-6 "><h6><b>{{data.headline}}</b></h6><hr /></div>
                       
                       <div class="short-headline p-2 short-headline1 col-lg-6 "><h6><b>{{data.headline}}</b></h6> <hr /></div>
                       
                    </div>
                </div>
            </div>
            <!-- End of third Column -->

            <!-- start of third Column -->
            <div class=" smallbox col-sm-12 col-lg-4 pl-4  pr-0">
               <div class="third-small-box">
                <div class="live-update-box pb-3 ">
                    <h3 class="mt-2" style="color:red">LIVE<span style="color:black"> UPDATES</span></h3>
                    <div class=" sub-box col-lg-12">
                        <div class="live-headline pt-1 d-block" *ngFor="let data of indiaHomeList">
                            <h5 style="color:red;font-size: 13px;">2:30 PM</h5>
                            <h6 class="pl-2">{{data.headline}}</h6>
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="news-video-box col-sm-12 mt-4 p-3">
                    <h2 style="color:#000">NEWS VIDEO</h2>
                    <div class="single-video-slider">
                        <section>
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" >
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <iframe class="col-sm-12 nopadding" width="100%" height="250" src="https://www.youtube.com/embed/jn8s87zaTwo" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                    </div>
                                    <div class="carousel-item">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/-wx0A1WoVio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="carousel-item">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/OREgsjR56U4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>                                    
                                </div>
                                <a (click)="stopvideo()" class=" carousel-btn carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class=" carousel-btn carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
               </div>
            </div>
            <!-- End of third Column -->
        </div>
        <!-- End Of Home News Section -->

           <div class=" xyz  my-3">
            <!-- <h3 class="photo-galry-text"> Photo Gallery</h3> -->
            <div class="horizontal-video-slider-box ">
                <!-- <div  class="carousel slide w-100 " data-ride="carousel">
                    <div class=" abc carousel-inner px-4 w-100" role="listbox">
                        <div  class="carousel-item row no-gutters active ">
                            <div  class="test col-3 ml-4    float-left"><img class="img-fluid img-responsive" src="assets/img/black-bg.jpg"></div>
                            <div class=" test  col-3   float-left"><img class="img-fluid img-responsive" src="assets/img/blue-bg.jpg"></div>
                            <div class="test  col-3   float-left"><img class="img-fluid img-responsive" src="assets/img/kashmir.jpg"></div>
                            <div class="test col-3   float-left"><img class="img-fluid img-responsive" src="assets/img/images-bg.jpg"></div>

                        </div>
                        <div class="carousel-item row no-gutters">
                            <div class="test col-3 ml-4 float-left"><img class="img-fluid img-responsive" src="assets/img/firstimage.jpg"></div>
                            <div class="test col-3 float-left"><img class="img-fluid img-responsive" src="assets/img/secondimage.jpg"></div>
                            <div class="test col-3 float-left"><img class="img-fluid img-responsive" src="assets/img/thirdimage.jpg"></div>
                            <div class="test col-3 float-left"><img class="img-fluid img-responsive" src="assets/img/fourthimage.jpg"></div>
                        </div>
                    </div>
                    <a  class="slider-btn carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="slider-btn carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>        -->
                 
                <app-imgslider></app-imgslider>
                <!-- <app-imgslider2 ></app-imgslider2> -->

            </div>
           </div>
    </div>
    <!-- End Of Box -->
</div>
<!-- End Of Container --> 
<app-footer></app-footer>