.box{
    margin: 100px 60px 0;
    /* border:1px solid red; */
}
.nopadding{
    padding: 0px !important;
}
hr{
    padding: 0px !important;
    margin: 5px !important;
}

.smallbox{
    /* border: 1px solid black; */
    height: auto;
}

.break-news-img{
    width: 100%;
    height:230px;
}


.home-headline-box{
    height:auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px  rgb(160, 160, 160);
    border:1px solid grey;
    padding-left:0 !important ;
    width: 100%;
}
.headline-img{
    width:100%;
    height:100%;
    padding-left: 0 !important;
}
.headline{
    font-family: sans-serif;
    color:#000;
}
.short-headline{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    border-left: 4px solid orangered;
    background-color: yellowgreen;
}
.short-headline b{
    color:#000 !important;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    
}
.live-update-box{
    border: 1px solid grey;
    border-radius: 8px;
    padding:0 25px;
}
.sub-box{
    border: 1px solid grey;
    width:100%;
    height:300px;
    overflow-y: scroll;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    /* background-color: turquoise; */
}
::-webkit-scrollbar{
    background-color:grey;
    width:4px;
}
::-webkit-scrollbar-thumb{
    height:10px !important;
    width:4px;
    background-color: red;
}
.live-headline h6{
    border-left: 1px solid grey;
    /* background-color: yellow; */
}

.news-video-box{
    border: 1px solid grey;
    height: 350px;
    width:100%;
    border-radius: 8px;
}

.video-slider-box{
    width:100%;
    height:200px;
    border: 2px solid black;
}

.single-video-slider{
    border: 1px solid grey;
    width:100%;
    height:250px;
}

/* ********* */
.picsum-img-wrapper{
    height:250px;
}
.carousel-btn
{
    background-color: black;
    height:50px;
    top: 100px;
    font-weight:bold;
    color:orangered;
}



@media only screen and (max-width: 600px) { 
    .box{
        margin: 100px 10px 0;
        /* border:1px solid red; */
    }
    .inner-box1{
        display: block !important;
        /* background-color: rgb(71, 255, 102); */
    }
    .first-small-box{
        padding-right: 0px !important;
    }
    .second-small-box{
        padding: 10px 0px 0 !important;
        /* background-color: yellow; */
    }
    .third-small-box{
        padding: 10px 0px 0 !important;
        /* background-color: pink; */
    }
    .smallbox{
        padding: 0 !important;

    }
    .home-headline-box{
        height:120px;
        box-shadow: 0px 5px 10px 2px grey;
    }
}


@media only screen and (min-width: 600px) { 
    .box{
        margin: 100px 10px 0;
        /* border:1px solid red; */
    }
    .inner-box1{
        display: block !important;
        /* background-color: rgb(71, 255, 102); */
    }
    .first-small-box{
        padding-right: 0px !important;
    }
    .second-small-box{
        padding: 10px 0px 0 !important;
        /* background-color: yellow; */
    }
    .third-small-box{
        padding: 10px 0px 0 !important;
        /* background-color: pink; */
    }
    .smallbox{
        padding: 0 !important;

    }
    .home-headline-box{
        height:100px;
        box-shadow: 0px 5px 10px 2px grey;
    }
}




@media only screen and (min-width: 786px) { 
    .box{
        margin: 100px 25px 0;
        /* border:1px solid red; */
    }
    .inner-box1{
        display: block !important;
        /* background-color: rgb(71, 255, 102); */
    }
    .first-small-box{
        padding-right: 0px !important;
    }
    .second-small-box{
        padding: 10px 0px 0 !important;
        /* background-color: yellow; */
    }
    .third-small-box{
        padding: 10px 0px 0 !important;
        /* background-color: pink; */
    }
    .smallbox{
        padding: 0 !important;

    }
    .home-headline-box{
        height:80px;
        box-shadow: 0px 5px 10px 2px grey;
    }
}




@media only screen and (min-width: 992px) { 
    .box{
        margin: 100px 50px 0;
        /* border:1px solid red; */
    }
    .inner-box1{
        display: flex !important;
        /* background-color: yellow; */
    }
    .first-small-box{
        padding-right: 20px !important;
    }
    .second-small-box{
        padding-top: 0 !important;
    }
    .third-small-box{  
        padding-top: 0 !important;
        padding-left: 22px !important;
    }
    
    .home-headline-box{
        height:auto;
        box-shadow: 0px 5px 10px 2px grey;
    }
}


@media only screen and (min-width: 1200px) { 
    .box{
        margin: 100px 50px 0;
        /* border:1px solid red; */
    }
    .inner-box1{
        display: flex !important;
        /* background-color: green; */
    } 
    .first-small-box{
        padding-right: 20px !important;
    }
}