<!-- Start Of Navigation Bar -->
<section id="header">
  <div class="container-fluid nopadding ">
    <nav class="navbar  navbar-expand-lg navbar-light nopadding">
      <a class="navbar-brand pl-5 aaj-tak-title"><img class="aaj-tak-logo"
          src="assets/img/new2-removebg-preview.png">AAJ TAK</a>
      <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>

      <div class="collapse py-2 navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto topnav">
          <li class="nav-item pr-5">
            <a class="nav-link px-4 text-white log-out" (click)="goHome()"> LOG OUT</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<!-- End Of Navigation Bar -->

<!-- Start Of News Dashboard -->
<main>
  <!-- Container -->
  <div class="container form-content mt-3">
    <div class="card col-md-12 main- nopadding">
      <div class="card-header text-white nopadding">
        <h3 class="mt-2 nopadding"> NEWS DASHBOARD </h3>
      </div>
      <div class="card-body ">
        <form [formGroup]="newsform" (ngSubmit)="submitform(newsform.value)" class="form row" role="form"
          autocomplete="off" id="formLogin" novalidate="">

          <div class="form-group d-flex col-md-12">
            <label class="col-md-3 py-1 text-center">NEWS CATEGORY :</label>
            <select [formControlName]="'category'" name="category" class="col-md-9" id="inputState"
              class="form-control text-center">
              <option value="Select">--Select News Category--</option>
              <option value="India">INDIA</option>
              <option value="World">WORLD</option>
              <option value="Sports">SPORTS</option>
              <option value="Movies">MOVIES</option>
              <option value="Business">BUSINESS</option>
            </select>
          </div>

          <div class="form-group d-flex col-md-12">
            <label class="col-md-3 py-1 text-center">NEWS SUB-CATEGORY :</label>
            <select [formControlName]="'subcategory'" name="subcategory" class="col-md-9" id="inputState"
              class="form-control text-center">
              <option value="category1">--Select News Category--</option>
              <option value="Top News">Top News</option>
              <option value="Whats Going On">Whats Going On</option>
            </select>
          </div>

          <div class="form-group  d-flex col-md-12">
            <label class="col-md-3 py-2 text-center" for="uname1" style>NEWS HEADLINE&nbsp; :</label>
            <textarea [formControlName]="'headline'" name="headline" class="col-md-9" type="text" class="form-control"
              name="uname1" id="uname1"  maxlength="105" required=""></textarea>
          </div>

          <div class="form-group d-flex col-md-12">
            <label class="col-md-3 pt-3 text-right" for="name">HEADLINE DESCRIPTION : </label>
            <textarea [formControlName]="'description'" name="description" class="col-md-9" type="text"
              class="form-control" maxlength="70" name="uname1" ingd="uname1" required=""></textarea>
          </div>

          <div class="form-group d-flex col-md-12">
            <label style="height:100px" class="col-md-3 pt-3 text-right" for="name">HEADLINE PARAGRAH: </label>
            <textarea style="height:400px" [formControlName]="'paragraph'" name="paragraph" class="col-md-9" type="text"
              class="form-control"  name="uname1" ingd="uname1" required=""></textarea>
          </div>

          <div class="form-group d-flex col-md-12">
            <label class="col-md-3 pt-3 text-right" for="name">Date And Time: </label>
            <textarea [formControlName]="'description'" name="description" class="col-md-3" type="text"
              class="form-control" name="uname1" ingd="uname1" required=""></textarea>
          </div>

          <div class="form-group d-flex col-md-12">
            <label class="col-md-3 mt-3 py-3 text-right" for="name"> UPLOAD NEWS IMAGE :</label>
            <!-- <img class="mt-4 pl-4" style="width:60px;height:40px" src="assets/img/Attachment.png"
              (click)="getFile.click"> -->
            <input [formControlName]="'imgupload'" name="imgupload" (change)="upload($event)" accept=".png,.jpg"  class="col-md-3" class="col-md-4" type="file" class="form-control" name="uname1" required="">
          </div>

          

          <button type="submit" class="btn btn-success btn-lg col-md-6 " id="btnLogin" >  Submit </button>
        </form>
      </div>
    </div>
    <!--/Container-->
  </div>
  <!--/Container-->
</main>
<!-- End of News Dashboard -->
<app-footer></app-footer>