<app-header></app-header>
<div class="container-fluid">
    <div class="row box p-3">
        <!-- Start Of Left News Section -->
        <div class=" col-xs-12  col-sm-12 col-md-12 col-lg-6  box1">
            <!-- start of left sub section -->
            <div class="news-left">
                <div class="nav-links d-flex mb-3 ">
                    <a class="mr-2" (click)="goHome()">Home</a>
                    <a style="border-right:none;pointer-events:none;color:blue;" (click)="gotoIndia()">India</a>
                  </div>
                <h1 class="title">INDIA</h1>
                <h6 class="sub-title" >Latest News From All Over India</h6>
                <h5 class=" px-3 py-1 mt-3 text-center text-white">Top News</h5>
                <!-- Start Of Left First News -->
                <div class="news-box news1 col-12 col-sm-12 col-md-12 col-lg-12 d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-sm-8 col-md-8 col-lg-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-sm-4 col-md-4 col-lg-4 nopadding">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End Of Left First News -->

                 <!-- Start of Left second News -->
                 <div class="news-box col-12 col-sm-12  d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-sm-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-sm-4   nopadding ">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End Of Left Second News -->
                
                 <!-- Start of Left third News -->
                 <div class="news-box col-12 col-sm-12  d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-sm-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-sm-4   nopadding ">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End Of Left third News --> 

                <!-- Start of Left Fourth News -->
                <div class="news-box col-12 col-sm-12  d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-sm-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-sm-4   nopadding ">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End Of Left Fourth News -->     
            </div> 
            <!-- start of left sub section -->
        </div>
        <!-- End Of Left News Section -->

        <!-- Start Of Right News Section -->
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-6  box2">
            <!-- Start of Right Sub Section -->
            <div class="news-right ">
                <h1 class="pl-4  text-white">Whats Going On</h1>
                <!-- Start of Right News 1 -->
                <div class="news-box news1 col-12 col-sm-12  d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-sm-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-sm-4 col-md-4  nopadding ">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End of Right News 1 -->

                 <!-- Start of Right News 2 -->
                 <div class="news-box col-12 col-sm-12  d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-sm-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-sm-4   nopadding ">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End of Right News 2 -->

                
                <!-- Start of Right News 3 -->
                <div class="news-box col-12 col-xs-12 col-sm-12  d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-xs-8 col-sm-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-xs-4 col-sm-4   nopadding ">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End of Right News 3 -->

                <!-- Start of Right News 4 -->
                <div class="news-box col-12 col-xs-12 col-sm-12  d-flex mt-3 nopadding">
                    <div class=" headline-box nopadding col-8 col-xs-8 col-sm-8 d-block routinglinks">
                        <h4 class="headline mt-2 nopadding"><a (click)="gotoBigNews()">Finding Nirmala: Cong mocks govt
                                as finance minister absent from key pre-budget meet</a></h4>
                        <p class="headline-para mt-3 ">Delhi election: What is at stake for Kejriwal, Modi and Rahul
                            Gandhi?</p>
                    </div>
                    <div class="news-img-box col-4 col-xs-4 col-sm-4   nopadding ">
                        <a (click)="gotoBigNews()"><img class="news-img img-responsive" src="assets/img/kashmir.jpg"></a>
                    </div>
                </div>
                <div class=" date-n-social-icons-box d-flex col-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                    <h6 class="date mt-3 col-6 col-sm-6 col-md-6 col-lg-6">
                      <i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
                    </h6>
                    <div class="social-icons-box mt-3 col-6 col-sm-6 col-md-6 col-lg-6 d-inline nopadding">
                       <a > <img class="social-icons-img img-responsive" src="assets/img/youtube.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/instagram.jpg"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/twitter.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/facebook.png"></a>
                       <a> <img class="social-icons-img img-responsive" src="assets/img/whatsapp.png"></a>
                    </div>
                </div>
                <hr />
                <!-- End of Right News 4 -->
            </div>
            <!-- End of Right Sub Section -->
        </div>
        <!-- End Of Right News Section -->
    </div>
</div>
<app-footer></app-footer>