h1,h2,h3,h4,h5,h6
{
    margin: 0px 0px 0px 0px ; 
    padding: 0px 0px 0px 0px ;
}
.title {
    color:black;
    font-family: Arial;
    font-weight: bold;
}

.subtitle{
    color: rgb(70, 68, 68);
    font-size: 15px;;
}
hr{
    border: 1px dashed grey;
}
.box1{
    border-right: 6px solid orangered;
    border-radius: 5px;  
}
.nav-links a{
    font-size: 20px;
    border-right: 1px solid #58595b;
    padding: 0 15px 0 0;
    cursor: pointer;   
}
.nav-links a:hover{
   color:black;
   font-weight: bold;
}
.news-left
{
    margin-top: 10px;
    margin-right: 20px;
}
.news-left h5
{
    width:110px;
    background-color:#ff6000;
    font-size: 16px;
}
.news-right{
    margin-top: 132px;
    margin-left: 20px;
}
.news-right h1
{
    background-color:#2f07be;
    font-family: Arial;
    font-size: 25px;
}
.news-img{
    padding: none;
    margin: none;
}
img:hover  {
    transition: all .5s ease 0s;
    cursor: pointer;
}

.headline{
    font-family: Merriweather-bold;
    line-height: 30px;
    font-size: 26px;
    font-weight: 700;
    word-wrap: break-word;
    margin-left: none;
    padding-left: none;
}
.headline a{
    background: transparent;
    color: #000;
    text-decoration: none;
}
.headline a:hover{
    /* text-decoration:none; */
    color: orangered;
    cursor: pointer;
}
.date{
    font-size: 14px;
    font-family: sans-serif;
    color: #b3b2b2;
    top: 10px;
}
.nopadding {
    padding: 0 !important;
}
.date-n-social-icons-box{border: 1px soid black;}
.social-icons-box
{
    justify-content: flex-end;
}
.social-icons-img{
     width:30px;
     height:30px; 
}
.clock-icon{
    font-size:14px;
    color:red;
}
 
@media only screen and (max-width: 600px) {
    .box{
        margin: 80px 10px 0;
        
    }
    .box1 {
        width: 100%;
        border-right:none; 
      }
       img{
           width: 100%; 
           height: 130px;
       }
       .headline-para{
        display: none;
    }
    .news-right{
        margin-left:0;
        margin-top: 10px;
    }
    .news-left{
        margin-right: 0;
    }
    .social-icons-img{
        margin-left: 4px;
    }
    .headline{
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .box{
        margin: 80px 15px 0;
        
    }
    .box1 {
        width: 100%;
        border-right: none;
        
      }
       img{
           width: 100%;
           height:140px;
       } 
       .news-right{
        margin-left:0;
        margin-top: 10px;
    }
    .news-left{
        margin-right: 0;
    }
    .social-icons-img{
        margin-left: 4px;
    }
    .headline-n-img-box{
        height:180px;
    }
} 
@media only screen and (min-width: 768px) {
    .box{
        display: block;
        margin: 80px 20px 0;
    }
    .box1 {
        border-right: none;
      }
       img{
           width: 100%;
           height: 130px;
       }
     h5{
         text-align: left;
     }
     .news-left{
         margin-right: 0;
     }
     .news-right{
        margin-top: 10px;
     }
     .social-icons-img{
        margin-left: 4px;
    }
    .headline-n-img-box{
        height:150px;
    }
}


@media only screen and (min-width: 992px) {
    .box{
        margin: 80px 20px 0;
        display: flex;
   }
    .box1 {
        width: 100%;
        border-right: 6px solid orangered;
      }
       img{
           width: 100%;
           height:140px;
       }
        .news-right{
            margin-left:20px;
            margin-top: 132px;
        }
        .news-left{
            margin-right: 20px;
        }
       .social-icons-img{
        margin-left: 4px;
        }
        .headline-n-img-box{
            height:220px;
        }
} 

@media only screen and (min-width: 1200px) { 
        .box{
        margin: 80px 60px 0;
        }
        .news-right{
            margin-left:20px;
            margin-top: 132px;
        }
        .news-left{
            margin-right: 20px;
        }
        .headline-n-img-box{
            height:180px;
        }
}
