<app-header></app-header>
<div class="container-fluid">
  <div class="row box ">
    <div class="col-lg-2" style="background-color: coral; height: 200px">
    </div>
    <div class="col-lg-7 box1">
      <div class="nav-links d-flex mx-2 ">
        <a class="mr-2" (click)="goHome()">Home</a>
        <a (click)="gotoIndia()">India</a>
        <a style="border-right:none;pointer-events:none;color: coral;">Top News</a>
      </div>
      <h3 class="col-sm-12 col-md-12 col-lg-12 mt-2 text-justify">JNU Violence LIVE: Nithayanand Rai gives ABVP clean
        chit while probestill on</h3>
      <div class="date-n-icons ">
        <div class="date">
        </div>
        <div class="social-icons">
          <p> January 07, 2020 4:03 PM</p>
          <a><i class="fa fa-youtube bg-danger" aria-hidden="true"></i></a>
          <a><i class="fa fa-facebook bg-primary" aria-hidden="true"></i></a>
          <a><i class="fa fa-twitter bg-primary" aria-hidden="true"></i></a>
          <a><i class="fa fa-whatsapp bg-success" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class=" col-sm-12 mt-4">
        <img class="news-img" src="assets/img/girl.jpg">
      </div>
      <p class="pt-4 text-justify"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; देश का इस वक्त का ज्वलंत मुद्दा. काफी दिनों से.
        ज्वलंत यूं कि जैसे ही ये बिल पास हुआ इसके विरोध के स्वर भी मुखर होने लगे. बिल का विरोध करना, सरकार का विरोध करना
        हो गया. इस विरोध में लोग जुड़ते गए, कारवां बनता गया.
        लेकिन फिर सरकार भी चुप कैसे बैठती. सो उसने भी कैंपेन चलाने शुरू किए. CAA के पक्ष में माहौल बनाना शुरू किया. CAA
        का विरोध स्वतः स्फूर्त था, सरकार का इसके समर्थन में हवा बनाना उसकी एक प्रतिक्रिया.
        तो हवा बनाने के सरकारी कार्यों में शमिल था- लोगों को जागरूक करना, एजुकेट करना. CAA के बारे में. समर्थन जुटाना,
        मिस कॉल और सोशल मीडिया के माध्यम से.
        प्रकाश जावड़ेकर से लेकर पीयूष गोयल तक सब युद्ध स्तर पर जुट गए CAA की स्वीकार्यता बढ़ाने के लिए.
      </p>
      <img class="sub-img" src="assets/img/firstimage.jpg">
      <p class="pt-4 text-justify"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; देश का इस वक्त का ज्वलंत मुद्दा. काफी दिनों से.
        ज्वलंत यूं कि जैसे ही ये बिल पास हुआ इसके विरोध के स्वर भी मुखर होने लगे. बिल का विरोध करना, सरकार का विरोध करना
        हो गया. इस विरोध में लोग जुड़ते गए, कारवां बनता गया.
        लेकिन फिर सरकार भी चुप कैसे बैठती. सो उसने भी कैंपेन चलाने शुरू किए. CAA के पक्ष में माहौल बनाना शुरू किया. CAA
        का विरोध स्वतः स्फूर्त था, सरकार का इसके समर्थन में हवा बनाना उसकी एक प्रतिक्रिया.
        तो हवा बनाने के सरकारी कार्यों में शमिल था- लोगों को जागरूक करना, एजुकेट करना. CAA के बारे में. समर्थन जुटाना,
        मिस कॉल और सोशल मीडिया के माध्यम से.
        प्रकाश जावड़ेकर से लेकर पीयूष गोयल तक सब युद्ध स्तर पर जुट गए CAA की स्वीकार्यता बढ़ाने के लिए.
      </p>
      <img class="sub-img" src="assets/img/firstimage.jpg">
      <p class="pt-4 text-justify"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; देश का इस वक्त का ज्वलंत मुद्दा. काफी दिनों से.
        ज्वलंत यूं कि जैसे ही ये बिल पास हुआ इसके विरोध के स्वर भी मुखर होने लगे. बिल का विरोध करना, सरकार का विरोध करना
        हो गया. इस विरोध में लोग जुड़ते गए, कारवां बनता गया.
        लेकिन फिर सरकार भी चुप कैसे बैठती. सो उसने भी कैंपेन चलाने शुरू किए. CAA के पक्ष में माहौल बनाना शुरू किया. CAA
        का विरोध स्वतः स्फूर्त था, सरकार का इसके समर्थन में हवा बनाना उसकी एक प्रतिक्रिया.
        तो हवा बनाने के सरकारी कार्यों में शमिल था- लोगों को जागरूक करना, एजुकेट करना. CAA के बारे में. समर्थन जुटाना,
        मिस कॉल और सोशल मीडिया के माध्यम से.
        प्रकाश जावड़ेकर से लेकर पीयूष गोयल तक सब युद्ध स्तर पर जुट गए CAA की स्वीकार्यता बढ़ाने के लिए.
      </p>
       <hr/>
       <h5 style="color:black"> See Video :</h5>
      <div class="videos-section mt-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dYAsMuijQ1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-3 box2">
      <div class="Entermnt-section">
        <h6 class="mt-4 ">Entertainment</h6>
        <div class="right-part news1">
          <img class="right-part-img mt-4" src="assets/img/firstimage.jpg">
          <h5 class="col-sm-12 col-md-12 col-lg-12 mt-4 text-justify">JNU Violence LIVE: Nithayanand Rai gives ABVP
            clean chit while probe
            still on</h5>
          <p class="mt-2">दीपिका पादुकोण के इस कदम को लेकर भी जनता दो फांक में बंट गई है.</p>
          <p><i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
            &nbsp;&nbsp;&nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></p>
          <hr />
        </div>

        <div class="right-part news2">
          <img class="right-part-img mt-4" src="assets/img/firstimage.jpg">
          <h5 class="col-sm-12 col-md-12 col-lg-12 mt-4 text-justify">JNU Violence LIVE: Nithayanand Rai gives ABVP
            clean chit while probe
            still on</h5>
          <p class="mt-2">दीपिका पादुकोण के इस कदम को लेकर भी जनता दो फांक में बंट गई है.</p>
          <p><i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
            &nbsp;&nbsp;&nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></p>
          <hr />
        </div>

        <div class="right-part news2">
          <img class="right-part-img mt-4" src="assets/img/firstimage.jpg">
          <h5 class="col-sm-12 col-md-12 col-lg-12 mt-4 text-justify">JNU Violence LIVE: Nithayanand Rai gives ABVP
            clean chit while probe
            still on</h5>
          <p class="mt-2">दीपिका पादुकोण के इस कदम को लेकर भी जनता दो फांक में बंट गई है.</p>
          <p><i class="fa fa-clock-o" style="font-size:14px;color:red"></i> January 07, 2020 4:03 PM
            &nbsp;&nbsp;&nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>